<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="c:\temp\nlog-internal.log">

  <!-- Logowanie informacji do pliku info.log -->
  <targets>
    <target xsi:type="File" name="infoFile" fileName="c:\AssecoBSLogs\info.log" />
    <target xsi:type="File" name="errorFile" fileName="c:\AssecoBSLogs\error.log" />
  </targets>

  <!-- Reguły logowania -->
  <rules>
    <logger name="*" minlevel="Info" writeTo="infoFile" />
    <logger name="*" minlevel="Error" writeTo="errorFile" />
  </rules>
</nlog>
